/* seletor global = seleciona TODOS os elementos da pagina ou de determinado lugar */

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}  
/* seletor pelo tag */

p {
    color: #f00;
}


main {
    margin-top: 1rem;
}

/* seletor pela classe */
.paragrafo {
    border: 1px solid rgb(255, 47, 61);
    color: brown;
    margin-top: 1rem;
}

/* seletor por id */
#titulo {
    color: firebrick;
    margin-bottom: 1rem;
}

/* seletor por atributo */
input[type="password"] {
    font-size: 3rem;
}

/* seletor por descendentes */
.login-form input {
    font-size: 2rem;
    color: crimson;
}

/* filhos diretos */
.login-form > input {
    color: darkred;
    width: 5rem;
}

/* pseudo-classes */
.cadastro-form input div:nth-of-type(2) {
   background: azure;
}